<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
                <li class="list-inline-item">
                   
                </li>
                <li class="list-inline-item">
                    
                </li>
                <li class="list-inline-item">
                    
                </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; 스터디클럽 2021</p>
        </div>
    </div>
</div>