<div class="navbar">
        <a class="home active" th:href="@{/}"><i class="fa fa-fw fa-home"></i>Home</a>
        
        <!-- 로그인 되어있을 경우 -->
        <a th:if="${session.id != null}" class="board" th:href="@{/board}">Board</a>
        <a th:if="${session.id != null}" class="ranking" th:href="@{/ranking}">Ranking</a>
        <a th:if="${session.id != null}" class="login" th:href="@{/user/logout}" >Logout</a>
     
        <!-- 로그인 되어있지 않을 경우 -->
        <a th:if="${session.id == null}" class="board" th:href="@{/user/login}">Board</a>
        <a class="contact" href="#contact">Contact</a>
        <a th:if="${session.id == null}" class="ranking" th:href="@{/user/login}">Ranking</a>
        <a th:if="${session.id == null}" class="login" th:href="@{/user/login}" >Login</a>
</div>