<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>스터디클럽</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="/assets/css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

    <header th:insert="/common/header.html"></header>

    <!-- Page Header -->
  	<header class="masthead" style="background-image: url('/assets/img/post-bg.jpg')">
    	<div class="overlay"></div>
    	<div class="container">
      		<div class="row">
        		<div class="col-lg-8 col-md-10 mx-auto">
          			<div class="post-heading">
			            <h1 th:text="${post.title}">제목이 표시됩니다.</h1>
			            <span class="meta" th:text="${post.author} +' '+ ${#temporals.format(post.createdAt,'yyyy년 MM월 dd일 HH:mm')}"></span>
						<br>			            
			            <h2 class="subheading" th:text="${post.content}">내용이 표시됩니다.</h2>
			             
          			</div>
        		</div>
      		</div>
    	</div>
  	</header>

   	
   	<!-- Post Content -->
  	
    

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; 스터디클럽 2021</p>
                </div>
            </div>
        </div>
    </footer>
    
    
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    
    <!-- Bootstrap core JavaScript -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/assets/js/clean-blog.min.js"></script>

</body>

</html>