<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>스터디클럽</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="/assets/css/clean-blog.min.css" rel="stylesheet">

</head>

<style>
	.fieldError{
		border-color:#bd2130;
	}
</style>

<body>

    <header th:insert="/common/header.html"></header>

    <!-- Page Header -->
  	<header class="masthead" style="background-image: url('/assets/img/post-bg.jpg')">
    	<div class="overlay"></div>
    	<div class="container">
      		<div class="row">
        		<div class="col-lg-8 col-md-10 mx-auto">
          			<div class="post-heading">
			            <h1 th:text="${post.title}">제목이 표시됩니다.</h1>
			            <span class="meta" th:text="${post.author} +' '+ ${#temporals.format(post.createdAt,'yyyy년 MM월 dd일 HH:mm')}"></span>
						<br>			            
			            <h2 class="subheading" th:text="${post.content}">내용이 표시됩니다.</h2>
			             
          			</div>
        		</div>
      		</div>
    	</div>
  	</header>
  	
  	<!-- Comment Content -->
  	<div class="container">
  		<div class="row">
	      	<div class="col-lg-8 col-md-10 mx-auto">
	        	<p>댓글 목록</p>
	        	<div class="post-preview" th:each="comment : ${comments}">
	        		<pre><h6 class="post-title" th:text="${comment.content}"></h6></pre>
	            	
	            		
	          		<p class="post-meta" th:text="${comment.author} +' '+ ${#temporals.format(comment.createdAt,'yyyy년 MM월 dd일 HH:mm')}" style="font-size:15px;"></p>
	        		<hr>
	        	</div>
	        	<p style="margin-top:40px;">댓글 작성</p>
		        <form method="post" th:object="${comment}" th:action="@{'/board/' + ${post.id}}">
                    <div class="form-group">
                        <label>닉네임</label>
                        <input type="text" class="form-control" th:value="${user.nickname}" readonly>
                    	
                    </div>
                    <div class="form-group">
                        <label>내용</label>
                        <textarea th:field="*{content}" th:class="${#fields.hasErrors('content')? 'form-control fieldError' : 'form-control'}" style="height:100px;" placeholder="최대 150자까지 작성하실 수 있습니다."></textarea>          	
                    	<p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
                    </div>
                    <button type="submit" class="btn btn-primary">제출하기</button>
                </form>
	      	</div>
	    </div>
	</div>
  	
  	<hr>
  	<!-- Pager -->
  	<div class="container" th:if="${session.USER.nickname==post.author}">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
	        	<!-- Pager -->
		        <div class="clearfix">
		        	<form th:action="@{'/board/edit/'+${post.id}}" method="get">
		        		<button class="btn btn-primary float-right" style="margin-left:5px;">수정</button>
		        	</form>
		        	
		        	<form name="deleteForm" th:action="@{'/board/'+${post.id}}" method="post">
		        		<input type="hidden" name="_method" value="delete"/>
		        		<button type="button" class="btn btn-primary float-right" onclick="checkDeletion()">삭제</button>
		        	</form>
		        	
		        </div>
	        </div>
        </div>
   	</div>


    <!-- Footer -->
    <footer th:insert="/common/footer.html"></footer>
    
    
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    
    <!-- Bootstrap core JavaScript -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/assets/js/clean-blog.min.js"></script>
	
	<script type="text/javascript">
		function checkDeletion(){
			const deleteForm = document.forms['deleteForm'];
			if (confirm("정말 삭제하시겠습니까?")==true){
				deleteForm.submit();
			}else{
				return;
			}
		}
	</script>
</body>

</html>