<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>스터디클럽</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
    <!-- Custom styles for this template -->
    <link href="/assets/css/clean-blog.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<body>

    <header th:insert="/common/header.html"></header>
    

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                    	<a href="javascript:void(window.open('study','study'))" style="text-decoration:none" ;>
                            <h1>공부하기</h1>
                        </a>
                        <span class="subheading"><i class="fa fa-book"></i> 공부시간을 측정합니다</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    

    <!-- Footer -->
    <footer th:insert="/common/footer.html"></footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/assets/js/clean-blog.min.js"></script>
    
    

</body>

</html>