<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>스터디클럽</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../assets/css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

    <header th:insert="/common/header.html"></header>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/assets/img/ranking-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>랭킹</h1>
                        <span class="subheading">이번 달 공부왕은 누구일까요?</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto" style="text-align:center;">
                <table class="table">
			        <thead class="thead-light">
			        <tr class="text-center">
			            <th scope="col">순위</th>
			            <th scope="col">닉네임</th>
			            <th scope="col">경험치</th>
			        </tr>
			        </thead>
			        <tbody>
			        <tr class="text-center" th:each="user : ${users}">
			            <th scope="row">
			                <span th:text="${userStat.index+1+page}"></span>
			                
			            </th>
			            <td>
			                <span th:text="${user.nickname}"></span>
			            </td>
			            <td>
			                <span th:text="${user.studyTime}"></span>
			            </td>
			        </tr>
			        </tbody>
			    </table>
			    <ul class="pagination">
			    	<!-- 현재 page의 number가 1이라면 previous=0, next=2일 것이다. -->
			    	<li class="page-item"><a class="page-link" th:href="@{'?page=' + ${previous}}">이전</a></li>
			    	<li class="page-item"><a class="page-link" th:href="@{'?page=' + ${next}}">다음</a></li>
			    </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; 스터디클럽 2021</p>
                </div>
            </div>
        </div>
    </footer>
    
    
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    
    <!-- Bootstrap core JavaScript -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/assets/js/clean-blog.min.js"></script>

</body>

</html>