<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>StudyClub</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header th:insert="common/header.html"></header>

	<div class="center">
	    <table class="table">
	        <thead class="thead-light">
	        <tr class="text-center">
	            <th scope="col">#</th>
	            <th scope="col">닉네임</th>
	            <th scope="col">경험치</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr class="text-center" th:each="user : ${users}">
	            <th scope="row">
	                <span th:text="${userStat.index+1+page}"></span>
	                
	            </th>
	            <td>
	                <span th:text="${user.nickname}"></span>
	            </td>
	            <td>
	                <span th:text="${user.studytime}"></span>
	            </td>
	        </tr>
	        </tbody>
	    </table>
	    <ul class="pagination">
	    	<!-- 현재 page의 number가 1이라면 previous=0, next=2일 것이다. -->
	    	<li class="page-item"><a class="page-link" th:href="@{'?page=' + ${previous}}">이전</a></li>
	    	<li class="page-item"><a class="page-link" th:href="@{'?page=' + ${next}}">다음</a></li>
	    </ul>
	</div>
</body>

</html>